# Backup and temporary files
.bak
.tmp

# VS/VSCode
.vs/
.vscode/

# CMake
CMakeUserPresets.json
.cmake/
build/.cmake/
build/.cmake-install/
build/CMakeFiles/
build/Debug/
build/Release/
build/RelMinSize/
build/RelWithDebInfo/
build/win32/
build/x64/
build/arm64/
build/arm/
build/CMakeCache.txt
build/cmake*.cmake
build/*.filters
build/*.vcxproj
build/*.sln
build/*.ninja
